{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni dolorem deleniti rerum natus saepe? Iusto explicabo, labore enim voluptatem quaerat laboriosam, ipsum placeat eveniet adipisci molestiae maiores quae magnam numquam!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/avataaars.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}